pyautogen
transformers
anthropic
cohere
langchain
langchain_community
google-cloud-translate
boto3
scikit-learn
python-pptx
python-docx
PyPDF2
numpy
pandas
streamlit
pyautogen
langchain-community
langchain
openai